<% include cabecera.ejs %>
  <!-- Basic features section-->
  <section class="bg-light">
    <div class="container px-5 mt-5">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-5">
          <h2 class="display-4 lh-1 mb-4">
            <%=__('New agent')%>
          </h2>
          <!-- Formulario -->
          <form method="post">
            <div class=" form-floating mb-3">
              <input type="text" name="name" class="form-control" id="floatingName" placeholder="name@example.com">
              <label for="floatingName">Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" name="age" class="form-control" id="floatingAge" placeholder="22">
              <label for="floatingAge">Age</label>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>

          </form>
        </div>
      </div>
    </div>
  </section>
  <% include pie.ejs %>