<% include cabecera.ejs %>
  <!-- Private-->
  <section class="bg-light">
    <div class="container px-5 mt-5">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-5">
          <h2 class="display-4 lh-1 mb-4">
            <%=__('Private zone')%>
          </h2>
        </div>
        <div class="col-12 col-lg-5">
          <p>User: <%= email%>
          </p>
        </div>
      </div>

      <!-- Mostramos la lista de agentes -->
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID usuario</th>
                <th scope="col">Agent</th>
                <th scope="col">Age</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% agentes .forEach((agente)=> { %>
                <tr>
                  <th scope="row">
                    <%=agente._id %>
                  </th>
                  <td>
                    <%= agente.name %>
                  </td>
                  <td>
                    <%= agente.age %>
                  </td>
                  <td>
                    <a onclick="confirmDeleteAgent('<%= agente.name %>','<%= agente._id %>')" href="javascript:void(0)"
                      class="btn btn-primary"><i class="bi bi-trash"></i></a>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Boton para crear agentes -->
      <a href="/agentes-new" class="btn btn-primary">New agent</a>
    </div>
  </section>


  <!-- Creamos el script de confirmación -->
  <script>
    const confirmDeleteAgent = (name, agenteId) => {
      const mensaje = `Estas seguro que quieres eliminar el agente ${name}?`;
      if (confirm(mensaje)) {
        // Redirigimos a esta url:
        window.location.href = `/agentes-delete/${agenteId}`
      }
    }
  </script>



  <% include pie.ejs %>