---
import Counter from '../components/Counter';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Contacto'>
  <a href="/">Ir al inicio</a>
  <p>Esta es la página de contacto</p>
  <Counter client:visible/>
</Layout>

<!-- Asi metemos estilos -->
<style>
  html {
    background-color: white;
    margin: 0 20px;
  }
  a{
    color: crimson;
    text-decoration: underline;
  }
</style>


