<% include cabecera.ejs %>
  <header class="masthead">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <!-- Mashead text and app badges-->
          <div class="mb-5 mb-lg-0 text-center text-lg-start">
            <h1>
              <%= title %>
            </h1>
            <!-- <p>Welcome to <%= title %></p> -->
            <p>
              <%= __('Welcome to')%>
                <%=title %>
            </p>
            <p>
              <%= texto + '!' %>
            </p>
            <p>
              <%= nombre %>
            </p>
            <h2>
              <%=__('Conditionals')%>
            </h2>
            <% if (esPar) { %>
              <p>El segundo actual es par.</p>
              <% } else { %>
                <p>El segundo actual es impar.</p>
                <% } %>

                  <p>Segundo actual: <%= segundoActual %>
                  </p>

                  <h2>
                    <%=__('Loops')%>
                  </h2>
                  <% usuarios.forEach(usuario=> { %>
                    <p>El agente <%= usuario.nombre %> tiene <%= usuario.edad %> años.</p>
                    <% }) %>

                      <h2>
                        <%=__('i18n example for plurals')%>
                      </h2>
                      <p>Hay 0 <%=__n('Mouse', 0)%>
                      </p>
                      <p>Hay 1 <%=__n('Mouse', 1)%>
                      </p>
                      <p>Hay 2 <%=__n('Mouse', 2)%>
                      </p>
                      <p>Hay 3 <%=__n('Mouse', 3)%>
                      </p>
                      <p>Hay 4 <%=__n('Mouse', 4)%>
                      </p>
                      <p>Hay 5 <%=__n('Mouse', 5)%>
                      </p>
          </div>
        </div>

      </div>
    </div>
  </header>

  <% include pie.ejs %>