<% include cabecera.ejs %>
  <!-- Private-->
  <section class="bg-light">
    <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-5">
          <h2 class="display-4 lh-1 mb-4">
            <%=__('Private zone')%>
          </h2>
          <p>User: <%= email%>
          </p>
        </div>
        <div class="col-sm-8 col-md-6">
          <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
              src="https://source.unsplash.com/u8Jn2rzYIps/900x900" alt="..." /></div>
        </div>
      </div>
    </div>
  </section>
  <% include pie.ejs %>